:root {
  --minmumMovile: 600px;
  --colorAccent: #64eebc;
  --colorBase: #ffffff;
  --colorDark: #242424;
  --ff-primary: 'Bebas Neue', arial, sans-serif;
}

*,
*::before,
*::after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

* {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-family: BebasNeue;
  font-style: normal;
}

body {
  font-family: var(--ff-primary);
  letter-spacing: 4px;
  font-weight: 400;
  font-size: 1rem;
  letter-spacing: 0.25rem;
  background-color: var(--colorDark);

  /* line-height: 1.125rem; */
}

img {
  /* display: block; */
  /* width: 100%; */
  max-width: 100%;
}

body,
h1,
h2,
h3,
p {
  margin: 0;
}

h2,
h3,
p {
  margin-bottom: 1em;
}

h1,
h2 {
  font-weight: 700;
  line-height: 1.125rem;
  margin-bottom: 1em;
}

.container {
  margin-inline: auto;
  width: 85.55%;
}

.bg {
  background-color: var(--colorDark);
}

/* @font-face {
  font-family: 'BebasNeue-Thin';
  src: local('BebasNeue'), url(./fonts/BebasNeue-Thin.otf) format('truetype');
}

@font-face {
  font-family: 'BebasNeue-Bold';
  src: local('BebasNeue'), url(./fonts/BebasNeue-Bold.otf) format('truetype');
}
@font-face {
  font-family: 'BebasNeue-Regular';
  src: local('BebasNeue'), url(./fonts/BebasNeue-Regular.otf) format('truetype');
} */

p {
  font-family: -apple-system, BebasNeue-Regular;
}
b {
  font-family: -apple-system, BebasNeue-Bold;
}
.light {
  font-family: -apple-system, BebasNeue;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

button {
  font-family: inherit;
}

.app {
  background-color: #242424;
  color: white;
}
.content {
  /* background-color: #102f8a; */
  color: white;
  width: 100%;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -moz-flex;
  display: -webkit-flex;
  display: flex;
  flex-direction: col;
  flex-wrap: wrap;
  justify-content: right;
}
