.col {
  color: #ffffff;
  margin-right: 7.225%;
  width: 220px;
  padding-top: 5em;
  position: absolute;
  top: 10px;
  /* background-color: tomato; */
  /* desktop */
  height: 95%;
  overflow: scroll;
}
.col_movies {
  padding-top: 10px;
}
.col_movie {
  height: 146px;
  margin-bottom: 10px;
  width: 100%;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  border-radius: 4px;
  background-color: rgb(47, 47, 47);
  text-align: center;
  position: relative;
}
.central_movie {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 50px;
  height: 50px;
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: center;
}
.titleMovie {
  position: absolute;
  bottom: 0%;
  left: 50%;
  transform: translate(-50%, 0%);
  margin: 0;
  width: 90%;
  max-height: 30%;
  margin-bottom: 14px;
}
.col_no-movies {
  margin-top: 10px;
  background-color: rgba(47, 47, 47, 0.7);
  padding: 10px;
  border-radius: 4px;
  height: 146px;
  margin-bottom: 10px;
  width: 100%;
  display: flex;

  background-color: rgb(47, 47, 47, 0.8);
  text-align: center;
}
.col_header {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 8px;
}

.title-hover {
  display: none;
  margin-left: 10px;
}
.extraInfo {
  display: none;
  margin-bottom: auto;
}

.col_movie:hover {
  display: flex;
  margin-bottom: auto;
  background: rgba(36, 36, 36, 0.7);
}

.col_movie:hover .title-hover {
  display: flex;
  margin-bottom: auto;
}

.col_movie:hover .extraInfo {
  display: block;
}
.col_movie:hover .titleMovie {
  display: none;
}

/* ///// */

.movie {
  height: 146px;
  margin-bottom: 10px;
  width: 100%;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;

  border-radius: 4px;
  background-color: rgb(47, 47, 47);

  display: flex;
  flex-direction: column;
  justify-content: center;
  position: relative;
}

.movieInner {
  height: 146px;
  width: 100%;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;

  border-radius: 4px;
  background-color: rgba(47, 47, 47, 0);
  padding: 6% 6% 6% 6%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  position: relative;
}

.opaque {
  position: absolute;
  height: 100%;
  width: 100%;
  border-radius: 4px;
  background-color: var(--colorDark);
  display: flex;
  flex-direction: column;
  pointer-events: none;
  z-index: -1;
  top: 0;
  left: 0;
  opacity: 1;
  transition: all 0.5s ease-in-out;
}

.playAndTitle {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  height: 100%;
}
.ratingAndYear {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  opacity: 0;
  font-size: 12px;
  transition: all 0.3s ease;
  height: 10%;
}

.title {
  font-size: 16px;
  transition: all 0.5s ease;
}

.playButton {
  width: 40px;
  height: 40px;
  margin-right: 16px;
  /* background: url('./img/playCircle.svg') no-repeat; */
  transition: all 0.5s ease;
  /* background-color: rgb(104, 184, 96); */
}

.playButton:hover {
  width: 40px;
  height: 40px;

  /* background: url('./img/playHover.svg') no-repeat; */
  /* background-size: cover; */
  /* background-color: blue; */
}

.movie:hover {
  display: flex;
}

.movie:hover .movieInner {
  background-color: rgba(47, 47, 47, 0.7);
}

.movie:hover .playButton {
  /* width: 24px;
  height: 24px; */
}
.movie:hover .title {
  text-align: left;
  margin-left: 6px;
}
.movie:hover .playAndTitle {
  flex-direction: row;
  /* justify-content: center; */
  align-items: center;
  height: 100%;
}
.movie:hover .ratingAndYear {
  opacity: 1;
}

@media screen and (max-width: 600px) {
  .col {
    position: relative;
    width: 100%;
    padding-top: 1em;
  }
  .movie {
    width: auto;
    min-height: 146px;
    height: 38.9333vw;
  }
  .movieInner {
    width: auto;
    min-height: 146px;
    height: 38.9333vw;
  }

  .col {
    width: 93.16vw;
    margin-left: 2%;
    margin-right: 2%;
  }
}
