.colOptions {
  width: 241px;
  /* height: 100vh; */
  font-size: 16px;
  background-color: rgba(36, 36, 36, 0.9);
  position: absolute;
  top: 0;
  margin-top: 109px;
  padding-right: 1em;
  /* padding: 24px 24px 24px 24px; */

  /* margin-right: 7.225%; */
  right: -10px;
  /* padding-left: 88px; */
  /* height: 100%; */
  list-style: none;
  z-index: 2;
}
li {
  list-style: none;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 16px;
}
.checkmark {
  position: absolute;
  right: 24px;
}

@media screen and (max-width: 600px) {
  .colOptions {
    position: fixed;
    left: 0px;
    width: 100vw;
    bottom: 0px;
    top: auto;
  }
}
