@font-face {
  font-family: 'BebasNeue';
  src: local('BebasNeue'), url(./fonts/BebasNeue-Regular.ttf) format('truetype');
}

body {
  margin: 0;
  font-family: -apple-system, BebasNeue, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

button {
  font-family: inherit;
}
