.navBar {
  width: 85.55%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  position: fixed;
  top: 0;
  margin-top: 28px;
  z-index: 5;
  pointer-events: none;
  /* background-color: rgba(0, 0, 0, 0.5); */
}

.navBarOver {
  width: 85.55%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  position: fixed;
  top: 0;
  margin-top: 28px;
  z-index: 115;
  pointer-events: none;
  /* background-color: rgba(0, 0, 0, 0.5); */
}
.navbar_right {
  display: flex;
  flex-direction: row;
  align-items: center;
  pointer-events: auto;
  /* justify-content: space-between; */
}

.navbar_left {
  display: flex;
  flex-direction: row;
  align-items: center;
  pointer-events: auto;
  /* justify-content: space-between; */
}

.hamburger {
  width: 27px;
  margin-right: 20px;
}
.notification {
  width: 24dpx;
  margin-right: 20px;
  margin-left: 20px;
}
.avatar {
  width: 40px;
  border-radius: 50%;
}
.navbar_logo {
  width: 113px;
}
.addMovie {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-left: 64px;
  font-weight: bold;
}
.plusHvyTrans {
  width: 14px;
  margin-right: 12px;
  font-weight: 200;
}
.navbar_logo {
  width: 113px;
}
