.navBar {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: absolute;
  top: 0;
  padding: 1em;
  max-width: 87.3%;
  background-color: turquoise;
  min-height: 36px;
}
.navbar_logo {
  object-fit: contain;
  width: 113px;
  margin-left: 84px;
  margin-right: 64px;
  max-width: 98px;
  min-width: 113px;
}
.hamburger {
  object-fit: contain;
  width: 27px;
}
.plusHvyTrans {
  object-fit: contain;
  width: 14px;
  margin-right: 12px;
}
.notification {
  object-fit: contain;
  width: 23.4px;
}
.avatar {
  object-fit: contain;
  width: 9.6vw;
  max-width: 40px;
  min-width: 36px;
  object-fit: cover;
  border-radius: 50%;
}

.navbar_left {
  display: flex;
  justify-content: space-between;
}

.navbar_right {
  display: flex;
  justify-content: space-between;
}

@media screen and (max-width: 600px) {
  .hamburgerRightMargin {
    transform: scaleX(-1);
  }
}
