.sidebarBackdrop {
  position: fixed;
  top: 0;
  left: 0;
  background-color: rgba(36, 36, 36, 0.8);
  width: 100vw;
  height: 1000vh;
  z-index: -2;
  pointer-events: none;
}
li {
  list-style: none;
}
.sidebar {
  width: clamp(50vw, 750px, 750px);
  /* height: 100vh; */
  background-color: rgba(36, 36, 36, 0.9);
  position: fixed;
  top: 0;
  padding-top: 157px;
  /* margin-right: 7.225%; */
  right: 0%;
  font-size: 22px;
  padding-left: 88px;
  height: 100%;
  z-index: 10;
}

body {
  margin: 0;
  padding: 0;
}

.sidebarList {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  flex-direction: column;
  justify-content: left;
}

.sidebarItem {
  /* padding: 0.5rem; */
  display: flex;
  flex-direction: row;
  align-items: center;
  margin: 0;
  margin-bottom: 42px;
  justify-content: left;
  padding-right: 6px;
}

.sidebarItem:hover {
  cursor: pointer;
  /* background-color: darkslategray; */
}

.sidebarItemIcon {
  margin-right: 16px;
  padding-top: 72px;
  padding-bottom: 72px;
}

.sidebarClose {
  position: absolute;
  top: 43.09px;
  /* right: 24.8px; */
  z-index: 10;
}

@media screen and (max-width: 728px) {
  .sidebar {
    width: 100vw;
  }
}
