.sidebar {
  width: 751px;
  /* height: 100vh; */
  background-color: rgba(36, 36, 36, 0.9);
  position: fixed;
  top: 40px;
  padding-top: 5em;
  /* margin-right: 7.225%; */
  right: 0%;
  font-size: 22px;
  padding-left: 88px;
  height: 100%;
}

body {
  margin: 0;
  padding: 0;
}

.sidebarList {
  list-style: none;
  padding: 0;
  margin: 0;
}

.sidebarItem {
  /* padding: 0.5rem; */
  margin: 0;
  margin-bottom: 42px;
}

.sidebarItem:hover {
  cursor: pointer;
  /* background-color: darkslategray; */
}

.modal-backdrop {
  height: 100vh;
  width: 100vw;
  background-color: rgba(36, 36, 36, 0.9);
}
