.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  background-color: rgba(36, 36, 36, 0.8);
  /* background-color: rgba(36, 12, 220, 0.8); */
  width: 100vw;
  height: 100vh;
  z-index: -1;
}

.upload {
  position: absolute;
  top: 50%;
  left: 50%;
  margin-top: -220px;
  margin-left: -365px;
  padding-top: 48px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 440px;
  width: 730px;
  background-color: var(--colorDark);
  z-index: 1;
}
.uploaderTitle {
  color: var(--colorAccent);
  font-size: 20px;
  margin-bottom: 48px;
}
.dropHere {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100px;
  width: 602px;
  border: 1px dashed #ffffff;
}

.dropzone:hover {
  background-color: aliceblue;
}
.closeBtn {
  width: 15px;
  right: 24px;
  position: absolute;
  top: 24.8px;
  right: 24.8px;
}

.upload-button {
  margin-top: 40px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  width: 284px;
  height: 56px;
  background-color: #919191;
  color: var(--colorDark);
  border: none;
  font-family: BebasNeue;
  font-size: 18px;
}
.exit {
  background-color: var(--colorDark);
  border: 1px solid var(--colorBase);
  color: var(--colorBase);
}

.minimal-input {
  -webkit-transition: all 125ms ease-out 125ms;
  -moz-transition: all 125ms ease-out 125ms;
  -o-transition: all 125ms ease-out 125ms;
  transition: all 125ms ease-out 125ms;
}
.minimal-input::-webkit-input-placeholder {
  color: #ffffff;
}
.minimal-input:-moz-placeholder {
  color: #ffffff;
}
.minimal-input::-moz-placeholder {
  color: #ffffff;
}
.minimal-input:-ms-input-placeholder {
  color: #ffffff;
}

input[type='text'] {
  font-size: 16px;
  font-family: BebasNeue, sans-serif;
  margin-top: 62px;
}

.minimal-input {
  border: 0;
  border-bottom: 1px solid #ffffff;
  outline: none;
  width: 248px;
  text-align: center;
  font-family: 'BebasNeue-Regular', sans-serif;
  font-size: 16px;
  background-color: transparent;
  color: #ffffff;
}
.button-container {
  padding-top: 35px;
}

.filled {
  border-bottom: 1px dotted rgba(52, 152, 219, 0.2);
}
.required {
  border-bottom: 1px solid #3498db;
}

.fade-out {
  opacity: 0;
}

.blink {
  animation: blinker 1s linear infinite;
}

@keyframes blinker {
  50% {
    opacity: 0;
  }
}

@media screen and (max-width: 600px) {
  /* flip horizonally */
  .upload {
    height: 100%;
    top: auto;
    left: auto;
    margin-top: auto;
    margin-left: auto;
    position: fixed;
    top: 0;
    width: 100%;
  }

  .dropHere {
    width: 80%;
  }
  .dropzone {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .closeBtn {
    display: none;
  }
}
