.upload {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 440px;
  width: 730px;
}

.dropHere {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100px;
  width: 602px;
  border: 1px dashed #ffffff;
}

.minimal-input {
  -webkit-transition: all 125ms ease-out 125ms;
  -moz-transition: all 125ms ease-out 125ms;
  -o-transition: all 125ms ease-out 125ms;
  transition: all 125ms ease-out 125ms;
}
.minimal-input::-webkit-input-placeholder {
  color: #bdc3c7;
}
.minimal-input:-moz-placeholder {
  color: #bdc3c7;
}
.minimal-input::-moz-placeholder {
  color: #bdc3c7;
}
.minimal-input:-ms-input-placeholder {
  color: #bdc3c7;
}
.minimal-input {
  border: 0;
  border-bottom: 1px solid #ffffff;
  outline: none;
  width: 100%;
  text-align: center;
  font-family: 'BebasNeue-Thin', sans-serif;
  font-size: 26px;
  background-color: transparent;
  color: #ffffff;
}
.button-container {
  padding-top: 35px;
}

.filled {
  border-bottom: 1px dotted rgba(52, 152, 219, 0.2);
}
.required {
  border-bottom: 1px solid #3498db;
}

.fade-out {
  opacity: 0;
}

.blink {
  animation: blinker 1s linear infinite;
}

@keyframes blinker {
  50% {
    opacity: 0;
  }
}
